<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head><meta charset="UTF-8"></head>
<body>
<div layout:fragment="content" class="container body-content">
    <a th:href="@{/products/add}" class="btn btn-primary">Create New Product</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th><th scope="col">Name</th><th scope="col">Image</th><th scope="col">Price</th>
            <th scope="col">Category Name</th><th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <th scope="row" th:text="${product.id}"></th>
            <td th:text="${product.name}"></td>
            <td>
                <img height="120" width="150" th:src="${product.image}" alt="Product Image">
            </td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category != null} ? ${product.category.name} : ''"></td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-secondary">Edit</a>

                <a th:href="@{/products/delete/{id}(id=${product.id})}"
                   class="btn btn-danger"
                   onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div></body></html>